SECRET=
BRANCH=refs/heads/main
LOG_FOLDER=
DEPLOY_CMD=ls
BUILD_DIR=/home/example/portal

# Slack config
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
SLACK_CHANNEL=
SLACK_USERNAME=Deploy Bot
SLACK_ICON=:rocket:
